<dialog open id="modal" hx-swap-oob="true"
        class="flex fixed top-0 z-50 justify-center content-center items-center w-screen h-screen bg-black bg-opacity-90 opacity-100 transition-opacity duration-1000 backdrop-blur">
    <div class="flex overflow-hidden flex-col w-5/6 h-5/6 bg-blue-400 rounded-xl perspective-800">
        <div class="flex justify-end items-end py-4 px-6 bg-stone-600">
            <a hx-post="/close" class="float-right cursor-pointer">
                <svg class="stroke-2 fill-gray-700 stroke-gray-700" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z"
                          fill="#0F172A" />
                </svg>
            </a>
        </div>
        <form hx-post="/update_question/@id" hx-swap-oob="true" class="flex flex-col">
            <div class="flex">
                <div>
                    <label for="question">Question</label>
                    <textarea id="question" name="question" rows="4" cols="50"></textarea>
                </div>
                <div>
                    <label for="answer">Answer</label>
                    <textarea id="answer" name="answer" rows="4" cols="50"></textarea>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</dialog>
