<dialog open id="modal" hx-swap-oob="true"
        class="flex fixed top-0 z-50 justify-center content-center items-center w-screen h-screen bg-black bg-opacity-90 opacity-100 transition-opacity duration-1000 backdrop-blur">
    <div class="flex overflow-hidden flex-col w-5/6 h-5/6 bg-blue-400 rounded-xl perspective-800">
        <div class="flex justify-between items-center py-4 px-6 bg-stone-600">
            <div class="flex gap-4 justify-between items-center">
                <input name="question_id" type="hidden" value="@question.id" />
                <button hx-post="/add_points/@game.id/1" class="bg-red-600 rounded shadow px-4 py-2"
                        type="submit" hx-include="previous input" hx-trigger="click, keyup[key=='1'] from:body">
                    @game.player_one_name
                </button>
                <button hx-post="/add_points/@game.id/2" class="bg-blue-500 rounded shadow px-4 py-2"
                        type="submit" hx-include="previous input" hx-trigger="click, keyup[key=='2'] from:body">
                    @game.player_two_name
                </button>
                <button hx-post="/add_points/@game.id/3" class="bg-yellow-400 rounded shadow px-4 py-2"
                        type="submit" hx-include="previous input" hx-trigger="click, keyup[key=='3'] from:body">
                    @game.player_three_name
                </button>
            </div>
            <div class="flex gap-4 justify-between items-center">
                <button hx-post="/close" class="float-right cursor-pointer"
                        hx-trigger="click, keyup[key=='Escape'] from:body">
                    <svg class="stroke-2 fill-red-700 stroke-red-700" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z"
                              fill="#0F172A" />
                    </svg>
                </button>
            </div>
        </div>
        <input type="checkbox" id="check" class="peer hidden">
        <label for="check" class="text-6xl flex text-center items-center justify-center flex-1 cursor-pointer">
            @question.question
        </label>
        <div class="border-t-2 border-slate-600 hidden peer-checked:flex items-center justify-center text-6xl flex-1">
            @question.answer
        </div>
    </div>
</dialog>
